{% load i18n %}

<div style="display: none" id="add_form_block" class="add_form_margin">
    <div class="title_add_form">{% trans 'Добавить проект' %}</div>
    <div class="add_form add_form_margin">
        <table cellpadding="0" cellspacing="0" class="tables_data_1">
            <tbody>
            <tr>
                <td class="td_title">{% trans 'Название' %}</td>
                <td class="td_value"><input type="text" class="input_text" id="project_name"
                                            style="width:528px"/>
                    <div class="td_error sub_input_error"></div>
                </td>
            </tr>
            <tr>
                <td class="td_title td_vert_top">{% trans 'Описание' %}</td>
                <td class="td_value"><textarea id="project_desc" class="input_text"
                                               style="width:528px; height:100px"></textarea>
                </td>
            </tr>
            <tr>
                <td class="td_title td_vert_top">{% trans 'Ответственное лицо' %}</td>
                <td class="td_value"><select id="project_head"></select>
                </td>
            </tr>
            <tr>
                <td class="td_title td_vert_top">{% trans 'Задачи' %}</td>
                <td class="td_value"><a href="javascript:;" onclick="add_project_task()"
                                        class="link" id="add_project_task_btn"> [+] {% trans 'добавить задачу' %}</a>
                </td>
            </tr>
            <input type="hidden" name="user_created" id="user_created"
                   value="{{ request.user.pk }}"/>
            </tbody>
        </table>
        <table cellpadding="0" cellspacing="0" style="margin-bottom:10px" class="d_none"
               id="project_tasks_tb">
            <tr>
                <td style="vertical-align:top; min-width:300px">
                    <table class="project_tasks_tb d_none1" cellpadding="0" cellspacing="0"
                           id="project_tasks_tb">
                        <tr>
                            <th class="nopdl">№</th>
                            <th class="">{% trans 'Сотрудник' %}</th>
                            <th class="link-class" title="{% trans 'Предшествующая задача' %}">{% trans 'Связь' %}</th>
                            <th class="">{% trans 'Дата старта' %} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {% trans 'Дата завершения' %}
                            </th>
                            <th></th>
                        </tr>
                        <tbody id="projects_tasks">
                        </tbody>
                    </table>
                    <a href="javascript:;" onclick="add_project_task()" class="link d_none"
                       id="add_more_project_task_btn"> [+] {% trans 'добавить еще задачу' %}</a>
                </td>
                <td style="vertical-align:top"></td>
            </tr>
        </table>
        <div class="d_none project_period_date" id="project_period_date">{% trans 'Дата старта' %}: <span
                id="project_date_start"></span> {% trans 'Дата завершения' %}: <span
                id="project_date_finish"></span></div>
        <div id="file_form_0" style="margin-top:20px">
        </div>
        <div style="margin-top:20px">
            <a class="button" onclick="add_project()" href="javascript:;" id="add_project_btn">
                <div class="right"></div>
                <div class="left"></div>
                <div class="btn_cont">{% trans 'добавить проект' %}</div>
            </a>
            <div class="clear"></div>
        </div>
        <div class="error_box" id="error_box"></div>
        <div id="success" class="success_marg"></div>
    </div>
    <div class="stand_margin">
        <a href="javascript:;" class="link"
           onclick="$('#add_form_block').hide(); $('#show_add_form_a').show()">{% trans 'Скрыть' %}</a>
    </div>
</div>
<div class="add_new_list_item" id="show_add_form_a">
    <a href="javascript:;" class="link"
       onclick="$('#add_form_block').fadeIn(200); $('#show_add_form_a').hide()">+ {% trans 'Добавить проект' %}</a>
</div>
