{% load static i18n %}
{% load parse_iso %}

<div class="user_cont_block project_report_item report_item_{{ object.project.id }}" id="report_{{ object.id }}">
    <div class="cont_hide_{{ object.id }}_{{ object.project.id }}">
        <div class="edit_tools">
            {% if request.user.id == object.user_left.id %}
                <a href="javascript:;" class="delete" onclick="delete_project_report('{{ object.id }}', '{{ object.project.id }}')"></a>
            {% endif %}
        </div>
    </div>
    <table cellpadding="0" cellspacing="0" >
        <tr>
            <td class="user_left"><a href="/id{{ object.user_left.id }}" class="user_link"><img src="{% static 'img/avatar-placeholder.png' %}"/></a></td>
            <td class="user_right"><b><a href="/id{{ object.user_left.id }}" class="user_link">{{ object.user_left.first_name }} {{ object.user_left.last_name }}</a></b>
            <span class="user_position">{% trans 'Акционер' %} / {% trans 'Инвестор' %} / {% trans 'Клиент' %}</span>        
            <div class="user_cont">
                <div class="cont_hide_{{ object.id }}_{{ object.project.id }}">
                    <div class="user_cont_text">{{ object.comment_text|safe }}</div>
                    <div class="user_cont_sub">{% parse_datetime object.date %}</div>
                </div>
                <div id="cont_report_result_{{ object.id }}_{{ object.project.id }}"></div>
            </div>        
            </td>
        </tr>
    </table>
</div>
