{% load static i18n %}

<tr class="task_it_row project_item  " id="project_{{ project.id }}">
    <td><a href="{% url 'project-detail' project.id %}" class="link">{{ project.name }}
        <nobr></nobr>
    </a></td>
    <td>{{ project.user_created }} <br/><span
            class="user_position">{% trans 'Акционер' %} / {% trans 'Инвестор' %} / {% trans 'Клиент' %}</span>
    </td>
    <td>{{ project.created_at|date:"d.m.Y" }}</td>
    <td>{{ project.completed_at|date:"d.m.Y"|default_if_none:"" }}</td>
    {% if not request.POST.state or request.POST.state == 'closed' %}
        <td style="padding-right:5px"><a class="button"
                                        onclick="display_dialog('{% trans 'Удалить выбранную запись?' %}', function(){delete_project('{{project.id}}')})"
                                        href="javascript:;"
                                        id="delete_project_btn_{{ project.id }}">
            <div class="right"></div>
            <div class="left"></div>
            <div class="btn_cont">{% trans 'удалить' %}</div>
        </a></td>
    {% else %}
        <td></td>
    {% endif %}
</tr>
