{% load i18n %}

<tr class="task {% if request.user == task.user %}user_task{% endif %}" id="task_{{ task.id }}"
    task_id="{{ task.id }}"
    completed="{% if task.actual_close_date %}1{% else %}0{% endif %}"
    after_task_id="0"
    date_finished="{% if task.actual_close_date %}{{ task.actual_close_date|date:"Y-m-d" }}{% else %}0000-00-00 00:00:00{% endif %}"
    num="1"
    is_participation=0>

    <td class="task_num" num=""></td>

    <td class="task_user_c">
        <select id="select_task_user_{{ task.id }}" class="user">
            <option value="{{ task.user.id }}"
                    class="selected">{{ task.user_name }}
            </option>
        </select>
        <div class="project_task_desc_bl">
            <textarea id="task_desc_{{ task.id }}"
                      class="input_text task_desc">{{ task.description }}</textarea>
        </div>
        <div style="margin:5px 0px 8px 0px">
            <a href="javascript:;"
               onclick="show_project_tasks_comments('{{ task.id }}')"
               class="link_proc">{% trans 'Отчет' %}
                <span class="new_count"
                      id="new_task_report_count_{{ task.id }}"></span></a>
            <div id="comments_{{ task.id }}"
                 class="project_task_comments_bl"></div>
        </div>
        <div class="project_task_completed_bl"
             id="project_task_completed_bl_{{ task.id }}">
            {% if task.user == request.user %}
                {% if not task.actual_close_date %}
                    <a class="button"
                       onclick="project_task_complete('{{ task.id }}',1)"
                       href="javascript:;"
                       id="complete_project_task_btn_{{ task.id }}">
                        <div class="right"></div>
                        <div class="left"></div>
                        <div class="btn_cont">{% trans 'задание выполнено' %}</div>
                    </a>
                    {% else %}
                    <a class="button"
                       onclick="project_task_complete('{{ task.id }}',0)"
                       href="javascript:;"
                       id="complete_project_task_btn_{{ task.id }}">
                        <div class="right"></div>
                        <div class="left"></div>
                        <div class="btn_cont">{% trans 'задание не выполнено' %}</div>
                    </a>
                    {% endif %}
                {% else %}
                {% if task.actual_close_date %}
                    <div class="project_task_completed_str">{% trans 'Задание выполнено' %}</div>
                {% endif %}
            {% endif %}
        </div>

    </td>

    <td class="prt_after_sel_bl">
        <select id="after_task_{{ task.id }}"
                class="input_text after_task_s"></select>
    </td>

    <td class="prt_dates_bl">
        <div class="prt_date_t">{% trans 'По плану' %}</div>
        <input type="text" id="task_date_start_{{ task.id }}"
               class="date_inp input_text date_start"
               task_id="{{ task.id }}"
               value="{{ task.start_date|date:"d.m.Y" }}"/>&nbsp;&nbsp;&nbsp;
        <input type="text"
               id="task_date_finish_{{ task.id }}"
               class="date_inp input_text date_finish"
               task_id="{{ task.id }}"
               value="{{ task.close_date|date:"d.m.Y" }}"/>

        <div class="prt_date_t">{% trans 'По факту' %}</div>
        <div>
            <div class="prtdt" id="fact_date_start_{{ task.id }}"></div>
            <div class="prtdt" id="fact_date_finish_{{ task.id }}"></div>
            <div class="clear"></div>
        </div>
    </td>
    <td class="prt_delete_bl">
        <a href="javascript:;" class="delete"
           onclick="delete_project_task('{{ task.id }}')"
           title="{% trans 'Удалить задачу' %}"></a></td>
</tr>
