{% extends 'projects/base_project.html' %}
{% load static i18n %}

{% block right_block %}
    <div class="nav_block">
        <div class="top_shdw"></div>
        <span class="current">{% trans 'Мои проекты' %}</span> <span id="nav_custom_n" style="font-weight:normal"></span>
    </div>
    <div class="content_block_no_padding">
        <script type="text/javascript" src="{% static 'js/tinymce/tinymce.min.js' %}"></script>

        <div class="content_block_padn">
            <div style="display: none" id="add_form_block" class="add_form_margin">
                <div class="title_add_form">{% trans 'Добавить проект' %}</div>
                <div class="add_form add_form_margin">

                    <table cellpadding="0" cellspacing="0" class="tables_data_1">
                        <tbody>
                        <tr>
                            <td class="td_title">{% trans 'Название' %}</td>
                            <td class="td_value"><input type="text" class="input_text" id="project_name"
                                                        style="width:528px"/>
                                <div class="td_error sub_input_error"></div>
                            </td>

                        </tr>
                        <tr>
                            <td class="td_title td_vert_top">{% trans 'Описание' %}</td>
                            <td class="td_value"><textarea id="project_desc" class="input_text"
                                                           style="width:528px; height:100px"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="td_title td_vert_top">{% trans 'Ответственное лицо' %}</td>
                            <td class="td_value"><select id="project_head"></select>
                            </td>
                        </tr>


                        <tr>
                            <td class="td_title td_vert_top">{% trans 'Задачи' %}</td>
                            <td class="td_value"><a href="javascript:;" onclick="add_project_task()"
                                                    class="link" id="add_project_task_btn"> [+] {% trans 'добавить задачу' %}</a>
                            </td>
                        </tr>
                        <input type="hidden" name="user_created" id="user_created"
                               value="{{ request.user.pk }}"/>

                        </tbody>
                    </table>

                    <table cellpadding="0" cellspacing="0" style="margin-bottom:10px" class="d_none"
                           id="project_tasks_tb">
                        <tr>
                            <td style="vertical-align:top; min-width:300px">
                                <table class="project_tasks_tb d_none1" cellpadding="0" cellspacing="0"
                                       id="project_tasks_tb">
                                    <tr>
                                        <th class="nopdl">№</th>
                                        <th class="">{% trans 'Сотрудник' %}</th>
                                        <th class="link-class" title="{% trans 'Предшествующая задача' %}">{% trans 'Связь' %}</th>
                                        <th class="">{% trans 'Дата старта' %} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {% trans 'Дата завершения' %}
                                        </th>
                                        <th></th>
                                    </tr>
                                    <tbody id="projects_tasks">
                                    </tbody>
                                </table>
                                <a href="javascript:;" onclick="add_project_task()" class="link d_none"
                                   id="add_more_project_task_btn"> [+] {% trans 'добавить еще задачу' %}</a>
                            </td>
                            <td style="vertical-align:top"></td>
                        </tr>
                    </table>

                    <div class="d_none project_period_date" id="project_period_date">{% trans 'Дата старта' %}: <span
                            id="project_date_start"></span> {% trans 'Дата завершения' %}: <span
                            id="project_date_finish"></span></div>
                    <div class="project_scheme d_none" id="project_scheme">
                        <table cellpadding="0" cellspacing="0" class="project_scheme_tb">
                            <thead class="project_scheme_month_th">
                            <tr id="project_scheme_month_th_tr"></tr>
                            </thead>
                            <thead class="project_scheme_days_th">
                            <tr id="project_scheme_days_th_tr"></tr>
                            </thead>
                            <tbody class="project_scheme_days_rows" id="project_scheme_days_rows"></tbody>
                        </table>
                    </div>

                    <div id="file_form_0" style="margin-top:20px">

                    </div>

                    <div style="margin-top:20px">
                        <a class="button" onclick="add_project()" href="javascript:;" id="add_project_btn">
                            <div class="right"></div>
                            <div class="left"></div>
                            <div class="btn_cont">{% trans 'добавить проект' %}</div>
                        </a>
                        <div class="clear"></div>
                    </div>

                    <div class="error_box" id="error_box"></div>
                    <div id="success" class="success_marg"></div>

                </div>

                <div class="stand_margin">
                    <a href="javascript:;" class="link"
                       onclick="$('#add_form_block').hide(); $('#show_add_form_a').show()">{% trans 'Скрыть' %}</a>
                </div>

            </div>

            <div class="add_new_list_item" id="show_add_form_a">
                <a href="javascript:;" class="link"
                   onclick="$('#add_form_block').fadeIn(200); $('#show_add_form_a').hide()">+ {% trans 'Добавить проект' %}</a>
            </div>

            <script type="text/javascript">
                tinymce.init({
                    selector: "#project_desc",
                    language: '{{ LANGUAGE_CODE }}',
                    plugins: ['table'

                    ],
                    menubar: false,
                    toolbar1: "table"
                });
            </script>
            <script>
                Disk.get_content_file_upload_form('0', 8, 'file_form_0');
                $('#add_more_project_task_btn').trigger('click');
                after_tasks_select_init();
                $('.after_task_s').live('change', pr_task_after_task_change);
                $('#project_head').easycomplete(
                    {
                        str_word_select: gettext('Выбрать сотрудника'),
                        url: '/api/v1/users/',
                        width: 350,
                        trigger: 1
                    });
            </script>
        </div>

        <div class="task_top_panel project_top_menu">
            {% url 'project-list' as PROJECTS_URL %}
            <a class="item page active" href="javascript:;" data-href='' onclick="change_page(event)">{% trans 'Мои проекты' %} <span
                    id="new_count_for_worker"></span></a>
            <a class="item page" href="javascript:;" data-href='closed' onclick="change_page(event)">{% trans 'Мои закрытые проекты' %}</a>
            <a class="item page" href="javascript:;" data-href='member' onclick="change_page(event)">{% trans 'Проекты, в которых участвую' %} <span
                    id="new_count_in_part_projects"></span></a>
            <a class="item page" href="javascript:;" data-href='member_closed' onclick="change_page(event)">{% trans 'Закрытые, в которых участвую' %}</a>
            <div class="clear"></div>
        </div>


        <br>

        <div id="projects_list_content ">
            <table cellpadding="0" cellspacing="0" class="tasks_tb" style="width:100%; margin-top:5px">
                <thead>
                <tr class="">
                    <th class="">{% trans 'Название' %}</th>
                    <th class="">{% trans 'Добавил' %}</th>
                    <th class="">{% trans 'Дата старта' %}</th>
                    <th class="">{% trans 'Дата завершения' %}</th>
                    <th class=""></th>
                </tr>
                </thead>
                <tbody id="project_list">
                    {% csrf_token %}
                    {% for project in projects %}
                        {% include 'projects/includes/project.html' with project=project request=request %}
                    {% endfor %}
                </tbody>
            </table>
            <div class="content_block_padn">

            </div>


            <script>
                pages_count = "1";
                is_part = "0";
                //draw_background_list_item('project_item', 'zebra1');
            </script>
        </div>

        <script>
            show_closed = '';
        </script>
    </div>
{% endblock %}

{% block modals %}
    <div class="modal" id="dialog">
        <div class="modal-content">
            <span class="modal-title"></span>
            <div class="controls">
                <button type='button' class="button" id='bYes'>{% trans "Удалить" %}</button>
                <button type='button' class="button" id='bNo'>{% trans "Отмена" %}</button>
            </div>
            
        </div>
   </div>
{% endblock %}