{% extends 'projects/base_project.html' %}
{% load static i18n %}
{% block right_block %}
    <div class="nav_block">
        <div class="top_shdw"></div>
        <a href="{% url 'project-list' %}">{% trans 'Мои проекты' %}</a> » <span class="current">{% trans 'Просмотр проекта' %}</span> <span
            id="nav_custom_n" style="font-weight:normal"></span>
    </div>
    <div class="content_block_no_padding">
        <script type="text/javascript" src="{% static 'js/tinymce/tinymce.min.js' %}"></script>

        <div class="content_block_padn">
            <div class="project_closed_title"></div>
            <a href="javascript:;" onclick="get_project_edit_form({{ object.id }})" class="link" style="float:right">{% trans 'Изменить данные' %}</a>
            <div class="project_title">{{ object.name }}</div>
            <div id="project_desc_show" class="d_none stand_margin">
                {{ object.description|safe }}
                <div class="stand_margin">
                    <a href="javascript:;" class="link"
                       onclick="$('#project_desc_show').hide(); $('#show_project_desc').show()">{% trans 'Скрыть' %}</a>
                </div>
            </div>
            <div class="stand_margin" id="show_project_desc">
                <a href="javascript:;" class="link"
                   onclick="$('#project_desc_show').fadeIn(200); $('#show_project_desc').hide()">{% trans 'Показать описание проекта' %}</a>
            </div>
            <div style="margin-top:15px"></div>

            <table cellpadding="0" cellspacing="0">
                <tr>
                    <td>{% trans 'Ответственное лицо' %}:</td>
                    <td style="padding-left:10px">{{ object.responsible_user_name }}</td>
                </tr>
            </table>
            <br>

            <div id="add_form_block" class="stand_margin">
                <div class="add_form add_form_margin">
                    <table cellpadding="0" cellspacing="0" style="margin-bottom:10px" id="project_tasks_tb">
                        <tr>
                            <td style="vertical-align:top; min-width:300px">
                                <table class="project_tasks_tb" cellpadding="0" cellspacing="0"
                                       id="project_tasks_tb">
                                    <tr>
                                        <th class="nopdl">№</th>
                                        <th class="">{% trans 'Сотрудник' %}</th>
                                        <th class="link-class" title="{% trans 'Предшествующая задача' %}">{% trans 'Связь' %}</th>
                                        <th class="">{% trans 'Дата старта' %} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {% trans 'Дата завершения' %}
                                        </th>

                                        <th></th>
                                    </tr>
                                    <tbody id="projects_tasks">
                                    {% for task in object.tasks.all %}
                                        <tr class="task " id="task_{{ task.id }}"
                                            task_id="{{ task.id }}"
                                            completed="0"
                                            after_task_id="0"
                                            date_finished="0000-00-00 00:00:00"
                                            num="1"
                                            is_participation=0>

                                            <td class="task_num" num=""></td>

                                            <td class="task_user_c">
                                                <select id="select_task_user_{{ task.id }}" class="user">
                                                    <option value="{{ task.user.id }}" class="selected">{{ task.user_name }}
                                                    </option>
                                                </select>
                                                <div class="project_task_desc_bl">
                                                    <textarea id="task_desc_{{ task.id }}"
                                                              class="input_text task_desc">{{ task.description }}</textarea>
                                                </div>
                                                <div style="margin:5px 0px 8px 0px">
                                                    <a href="javascript:;"
                                                       onclick="show_project_tasks_comments('{{ task.id }}')"
                                                       class="link_proc">{% trans 'Отчет' %}
                                                        <span class="new_count" id="new_task_report_count_{{ task.id }}"></span></a>
                                                    <div id="comments_{{ task.id }}" class="project_task_comments_bl"></div>
                                                </div>

                                                <div class="project_task_completed_bl"
                                                     id="project_task_completed_bl_{{ task.id }}"></div>
                                            </td>

                                            <td class="prt_after_sel_bl">
                                                <select id="after_task_{{ task.id }}"
                                                        class="input_text after_task_s"></select>
                                            </td>

                                            <td class="prt_dates_bl">
                                                <div class="prt_date_t">{% trans 'По плану' %}</div>
                                                <input type="text" id="task_date_start_{{ task.id }}"
                                                       class="date_inp input_text date_start"
                                                       task_id="{{ task.id }}"
                                                       value="{{ task.start_date|date:"d.m.Y" }}"/>&nbsp;&nbsp;&nbsp;
                                                <input type="text"
                                                       id="task_date_finish_{{ task.id }}"
                                                       class="date_inp input_text date_finish"
                                                       task_id="{{ task.id }}"
                                                       value="{{ task.close_date|date:"d.m.Y" }}"/>

                                                <div class="prt_date_t">{% trans 'По факту' %}</div>
                                                <div>
                                                    <div class="prtdt" id="fact_date_start_{{ task.id }}"></div>
                                                    <div class="prtdt" id="fact_date_finish_{{ task.id }}"></div>
                                                    <div class="clear"></div>
                                                </div>
                                            </td>
                                            <td class="prt_delete_bl">
                                                <a href="javascript:;" class="delete"
                                                   onclick="delete_project_task('{{ task.id }}')"
                                                   title="{% trans 'Удалить задачу' %}"></a></td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                                <a href="javascript:;" onclick="add_project_task()" class="link"
                                   id="add_more_project_task_btn">[+] {% trans 'добавить еще задачу' %}</a>
                            </td>
                            <td style="vertical-align:top"></td>
                        </tr>
                    </table>

                    <div style="margin-top:30px">

                        <div id="file_form_137"></div>
                    </div>

                    <div style="margin-bottom:10px" id="add_project_task_btn">
                        <a href="javascript:;" onclick="add_project_task()" class="link">[+] {% trans 'добавить задачу' %}</a>
                    </div>
                    <div class="d_none project_period_date" id="project_period_date">

                        <div><span class="prt_dates_rs">{% trans 'По плану' %}</span> {% trans 'Дата старта' %}: <span
                                id="project_date_start_plan"></span> {% trans 'Дата завершения' %}: <span
                                id="project_date_finish_plan"></span></div>
                        <div style="margin:4px 0px 4px 0px"><span class="prt_dates_rs">{% trans 'По факту' %}</span> {% trans 'Дата старта' %}:
                            <span id="project_date_start"></span> {% trans 'Дата завершения' %}: <span
                                    id="project_date_finish"></span></div>
                        <div style="margin:4px 0px 4px 0px"><span
                                class="prt_dates_rs">{% trans 'Отставание от графика' %}</span> <span
                                id="behind_schedule"></span></div>


                    </div>
                    <div class="project_scheme d_none" id="project_scheme">
                        <table cellpadding="0" cellspacing="0" class="project_scheme_tb">
                            <thead class="project_scheme_month_th">
                            <tr id="project_scheme_month_th_tr"></tr>
                            </thead>
                            <thead class="project_scheme_days_th">
                            <tr id="project_scheme_days_th_tr"></tr>
                            </thead>
                            <tbody class="project_scheme_days_rows" id="project_scheme_days_rows"></tbody>
                        </table>
                    </div>
                    <div class="sub_project_scheme" id="gr_edited_notice">{% trans 'Изменения на графике отобразятся после нажатия на кнопку "Сохранить изменения"' %}.
                    </div>
                    <div class="clear"></div>
                    <div>
                        <div style="margin-top:15px"></div>
                        <div style="float:right">
                            <div class="project_closed_title project_str_closed_status">{% if object.completed_at %}{% trans 'Проект закрыт' %}{% endif %}</div>
                            <a class="button" onclick="project_close({{ object.id }}, '{% if object.completed_at %}open{% else %}close{% endif %}')" href="javascript:;"
                               id="project_close_btn" closed="0">
                                <div class="right"></div>
                                <div class="left"></div>
                                <div class="btn_cont">{% if object.completed_at %}{% trans 'открыть' %}{% else %}{% trans 'закрыть' %}{% endif %} {% trans 'проект' %} <span
                                        class="link_cancel">&times;</span></div>
                            </a>
                        </div>


                        <a class="button" onclick="save_project()" href="javascript:;" id="add_project_btn">
                            <div class="right"></div>
                            <div class="left"></div>
                            <div class="btn_cont">{% trans 'сохранить изменения' %}</div>
                        </a>

                        <div class="clear"></div>
                    </div>

                    <div class="error_box" id="error_box"></div>
                    <div id="success" class="success_marg"></div>
                    <div id="success_close" class="success_marg"></div>

                </div>

            </div>

            <div class="cat_block" style="margin-top:35px">{% trans 'Комментарии' %}:</div>
            <div id="report_add_form " style="display:block">
                <div class="add_form  add_form_ntrb" id="add_report_form">
                    <textarea id="report_text" class="input_text" style="width:700px"></textarea>
                    <br/>

                    <div class="add_form_btn_margin">
                        <a class="button" onclick="add_project_report('137')" href="javascript:;"
                           id="add_report_btn_137">
                            <div class="right"></div>
                            <div class="left"></div>
                            <div class="btn_cont">{% trans 'добавить комментарий' %}</div>
                        </a>
                        <div class="clear"></div>
                    </div>

                </div>
            </div>

            <div id="reports_list">
                <div class="no_contents" id="no_reports"{% trans 'Отчет отсутствует' %}.</div>
            </div>


            <script type="text/javascript">
                tinymce.init({
                    selector: "#report_text",
                    language: '{{ LANGUAGE_CODE }}',
                    plugins: ['table'

                    ],
                    menubar: false,
                    toolbar1: "table"
                });
            </script>

            <script>
                pages_count = '0';
            </script>


        </div>

        <script>
            project_id = '{{ object.id }}';
            Disk.get_content_file_upload_form('{{ object.id }}', 8, 'file_form_{{ object.id }}');
            $('.task .date_inp').live('change', show_gr_edited_notice);
            projects_tasks_init();
            after_tasks_select_init();
            $('.after_task_s').live('change', pr_task_after_task_change);

        </script>
    </div>
{% endblock %}