{% extends 'projects/base_project.html' %}
{% load static i18n %}

{% block right_block %}
    <div class="nav_block">
        <div class="top_shdw"></div>
        <span class="current">{% trans 'Мои проекты' %}</span> <span id="nav_custom_n" style="font-weight:normal"></span>
    </div>
    <div class="content_block_no_padding">
        <script type="text/javascript" src="{% static 'js/tinymce/tinymce.min.js' %}"></script>

        <div class="content_block_padn">
        {% if page == 'SELF_PROJECTS' %}
            {% include "projects/includes/add_form.html" %}
        {% elif page == 'MEMBER_PROJECTS' and request.user.tasks.active and projects %}
            <div class="add_form stand_margin">
                <div class="title_add_form">{% trans 'Текущие задачи по проектам' %}</div>
                {% include "projects/includes/gantt_diagram.html" %}
            <script>
                tasks_obj = new Object({ {% for task in request.user.tasks.active %}"{{task.id}}": {"task_id": "{{task.id}}", 
                    "start": "{{ task.created_at|date:'Y-m-d'}}", "finish": "{{task.close_date|date:'Y-m-d'}}", "date_finished": "{{task.actual_close_date|date:'Y-m-d'}}",
                    "completed": "{% if task.actual_close_date %}1{% else %}0{% endif %}", "task_desc": "{{task.description}}", "to_project_link": "{{task.project.get_absolute_url}}",
                    "project_id": "{{project.id}}", "after_task_id": "{{task.related_task}}", "this_user_task":"1"},{% endfor %} });
                scheme_pre_init(1);
            </script>
            </div>
        {% endif %}

            <script type="text/javascript">
                tinymce.init({
                    selector: "#project_desc",
                    language: '{{ LANGUAGE_CODE }}',
                    plugins: ['table'

                    ],
                    menubar: false,
                    toolbar1: "table"
                });
            </script>
            <script>
                {% comment %} Disk.get_content_file_upload_form('0', 8, 'file_form_0'); {% endcomment %}
                $('#add_more_project_task_btn').trigger('click');
                after_tasks_select_init();
                $('.after_task_s').live('change', pr_task_after_task_change);
                $('#project_head').easycomplete(
                    {
                        str_word_select: gettext('Выбрать сотрудника'),
                        url: '/api/v1/users/',
                        width: 350,
                        trigger: 1
                    });
            </script>
        </div>
        {% url 'project-list' as PROJECTS_URL %}
        {% url 'closed-projects-list' as CLOSED_URL %}
        {% url 'member-projects-list' as MEMBER_URL %}
        {% url 'member-closed-projects-list' as MEMBER_CLOSED_URL %}
        <div class="task_top_panel project_top_menu">
            <a class="item {% if page == 'SELF_PROJECTS' %}active{% endif %}" href="{{ PROJECTS_URL }}">{% trans 'Мои проекты' %} <span
                    id="new_count_for_worker"></span></a>
            <a class="item {% if page == 'CLOSED_PROJECTS' %}active{% endif %}"  href="{{ CLOSED_URL }}" >{% trans 'Мои закрытые проекты' %}</a>
            <a class="item {% if page == 'MEMBER_PROJECTS' %}active{% endif %}" href="{{ MEMBER_URL }}" >{% trans 'Проекты, в которых участвую' %} <span
                    id="new_count_in_part_projects"></span></a>
            <a class="item {% if page == 'MEMBER_CLOSED_PROJECTS' %}active{% endif %}" href="{{ MEMBER_CLOSED_URL }}">{% trans 'Закрытые, в которых участвую' %}</a>
            <div class="clear"></div>
        </div> 


        <br>

        <div id="projects_list_content ">
            <table cellpadding="0" cellspacing="0" class="tasks_tb" style="width:100%; margin-top:5px">
                <thead>
                <tr class="">
                    <th class="">{% trans 'Название' %}</th>
                    <th class="">{% trans 'Добавил' %}</th>
                    <th class="">{% trans 'Дата старта' %}</th>
                    <th class="">{% trans 'Дата завершения' %}</th>
                    <th class=""></th>
                </tr>
                </thead>
                <tbody id="project_list">
                    {% for project in projects %}
                        {% include 'projects/includes/project.html' %}
                    {% endfor %}
                </tbody>
            </table>
            <div class="content_block_padn">

            </div>


            <script>
                pages_count = "1";
                is_part = "0";
                //draw_background_list_item('project_item', 'zebra1');
            </script>
        </div>

        <script>
            show_closed = '';
        </script>
    </div>
{% endblock %}

{% block modals %}
    <div class="modal" id="dialog">
        <div class="modal-content">
            <span class="modal-title"></span>
            <div class="controls">
                <button type='button' class="button" id='bYes'>{% trans "Удалить" %}</button>
                <button type='button' class="button" id='bNo'>{% trans "Отмена" %}</button>
            </div>
            
        </div>
   </div>
{% endblock %}
