{% load static i18n %}

<div class="project_task_comments" id="task_comments_bl_{{ object.id }}">
    <div class="cat_block" style="">
        <div class="" style="float:right">
            <a href="javascript:;" class="link" onclick="show_project_tasks_comments('{{ object.id }}', 1)">{% trans "Закрыть" %}</a>
        </div>{% trans "Отчет" %}:
    </div>

    <div id="report_add_form ">
        <div class="add_form add_form_ntrb" id="add_report_form">
            <textarea id="task_report_text_{{ object.id }}" class="input_text" style="width:99%"></textarea>
            <div class="add_form_btn_margin">
                <a class="button" onclick="add_project_task_report('{{ object.id }}')" href="javascript:;" id="add_task_report_btn_{{ object.id }}">
                    <div class="right"></div>
                    <div class="left"></div>
                    <div class="btn_cont">{% trans "написать" %}</div>
                </a>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <div id="task_reports_list_{{ object.id }}">
        {% for report in object.reports.active %}
            {% include 'projects/includes/report.html' with object=report %}
        {% endfor %}
    </div>
</div>
